/* ----------------------------- */
/* GLOBAL */
/* ----------------------------- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #1E4B9A, #163a75);

    color: #222;
}

/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
    text-align: center;
    padding: 60px 20px;
    background: #1E4B9A;
    color: white;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.2em;
    opacity: 0.9;
    color: white;
}

/* ----------------------------- */
/* NAVIGATION */
/* ----------------------------- */

nav {
    background: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #1E4B9A;
    font-weight: bold;
}

/* ----------------------------- */
/* CONTENT */
/* ----------------------------- */

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 25px;
    margin: 30px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}


.card a {
    color: #F
